<form action="/robots" method="post">
  <p>Create a New Robot</p>
  Name: <input type='text' name='robot[name]'/><br/>
  City: <input type='text' name='robot[city]'/><br/>
  State: <input type='text' name='robot[state]'/><br/>
  Department: <input type='text' name='robot[department]'/><br/>
  <input type='submit'/>
</form>
